@import '../App.scss';

@import 'bulma/sass/grid/columns';
@import 'bulma/sass/elements/button';
@import 'bulma/sass/elements/form';

.buttons.optionButtons {
  @media (max-width: $tablet) {
    display: block;

    .button {
      white-space: normal;
      width: 100%;
      height: auto;
    }

  }
}
