@import '../App.scss';

@import 'bulma/sass/grid/columns';
@import 'bulma/sass/elements/button';
@import 'bulma/sass/elements/form';
@import 'bulma/sass/elements/table';
@import 'bulma/sass/elements/tag';
@import 'bulma/sass/elements/title';
@import 'bulma/sass/components/card';

.challenge:hover,
.challenge:hover .table,
.challenge:focus,
.challenge:focus .table {
  @extend .has-background-primary;

  cursor: pointer;
  outline: none;
}