@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// We can configure Bulma here by customising its variables:
// https://bulma.io/documentation/overview/customize/

$primary: #008a45;
$blue: #2a70db;
$cyan: #007cc1;
$green: #80ff80;

// End of configuration

// Import the required Bulma modules:
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/layout/_all';
@import 'bulma/sass/elements/container';
@import 'bulma/sass/elements/content';
@import 'bulma/sass/elements/form';
@import 'bulma/sass/components/navbar';
@import 'bulma/sass/components/tabs';
