@import '../App.scss';

@import 'bulma/sass/elements/box';
@import 'bulma/sass/elements/button';

@mixin coloured-button($colour) {
  @extend .is-outlined;

  color: $colour;
  border-color: $colour;

  &:hover,
  &:focus {
    background-color: $colour;
    color: findColorInvert($colour);
  }

  &:focus {
    box-shadow: $button-focus-box-shadow-size lighten($colour, 30%);
  }
}

.sharer {
  max-width: 500px;
}

.button.facebook {
  @include coloured-button(#3b5998);
}

.button.twitter {
  @include coloured-button(#55acee);
}

.button.reddit {
  @include coloured-button(#ff4500);
}
